<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path, class: "btn border-dark my-3" %>
  <div class="header">
    <h1>New quote</h1>
  </div>
  <%= turbo_frame_tag "single_quote" do %>
    <%= turbo_frame_tag @quote do %>
      <%= render "form", quote: @quote %>
    <% end %>
  <% end %>
</main>
