<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>
  <div class="header">
    <h1>
      <%= @quote.name %>

      <%#= hello %>
      <%#= get_quote.name %>

      <%#= @instance_variables %>
      <%# <%= @_config %>


      <%#= @quote.name %>
      <%#= @quote.special_name %>
      <%#= "special_#{@quote.name}" %>
    </h1>
  </div>
</main>
