<div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background-image: url('/images/404.webp'); background-size: auto 100%; background-position: bottom center; background-repeat: no-repeat; background-attachment: fixed; background-color: #ba6f1c;">
  <div class="text-center text-white">
    <h1 class="display-3" style="text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5)">It seems you got lost!</h1>
    <p class="lead bg-dark" style="--bs-bg-opacity: .3;">The page you're looking for doesn't exist. Don't worry, we can get you back on track.</p>
    <%= link_to 'Go back to Home Page', root_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
