<div class="container-fluid d-flex flex-wrap justify-content-center align-items-center w-100 border-bottom" style="height: 70px;" id="top">
  <div class="d-flex flex-wrap justify-content-center align-items-center col-9 border-bottom" style="height: 70px;">
    <div class="row w-100 d-flex flex-wrap justify-content-between align-items-center">
      <div class="col-1 bg-dark text-center py-2 text-light">
        <h5 class="m-0 p-0 d-flex justify-content-center align-items-center" style="min-height: 60px;"><%= @quote.name %></h5>
        <%# <h3 class="m-0 p-0">SHOP</h3> %>
      </div>
      <div class="nav col-5 d-flex justify-content-end justify-content-between">
        <div class="col-10 d-flex flex-row justify-content-between align-items-center">
          <a class="btn col-4" href="#" style="text-decoration: underline; color: darkcyan;">Product List</a>
          <a class="btn col-4" href="#">About Us</a>
          <a class="btn col-4" href="#">Contact</a>
        </div>
        <div class="row col-2 d-flex justify-content-start align-items-center">
          <a class="btn col-6" href="#"><i class="fa-regular fa-user"></i></a>
          <a class="btn col-6" href="#"><i class="fa-solid fa-cart-shopping"></i></a></span>
      </div>
    </div>
  </div>
</div>
<style>
  a.btn:hover {
    text-decoration: underline;
    color: darkcyan;
  }
</style>
</div>
